# Configuración del servicio
#NODE_ENV=development
NODE_ENV=production
PORT=3002

# Base de datos PostgreSQL
#Para desarrollo local
# DB_HOST=localhost
# DB_PORT=5432
# DB_USERNAME=Christian
# DB_PASSWORD=christian123
# DB_DATABASE=db_compras

#Para docker
DB_HOST=postgres
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=password
DB_DATABASE=db_compras

# JWT
JWT_SECRET=your_strong_jwt_secret_key # modificar por el token secreto generado por el microservicio de usuarios
JWT_ALGORITHM=HS256

# URLs de microservicios
#EVENTOS_SERVICE_URL=http://localhost:3001 # modificar segun puerto del servicio eventos por ejemplo http://192.168.1.101:3000
EVENTOS_SERVICE_URL=http://10.110.225.199:3001
#USUARIOS_SERVICE_URL=http://localhost:3000 # modificar segun puerto del servicio usuarios por ejemplo http://192.168.1.102:3001
USUARIOS_SERVICE_URL=http://10.110.225.179:3000


# Configuración de logs
LOG_LEVEL=INFO

# RabbitMQ
#RABBITMQ_URL=amqp://guest:guest@localhost:5672
# RabbitMQ (usa nombre del servicio en Docker Compose)
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672
RABBITMQ_QUEUE=notificaciones_compras