# Configuración de MySQL 
DB_CONNECTION=mysql
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=db_eventos
DB_USERNAME=your_db_username
DB_PASSWORD=your_strong_db_password

# CONFIGURACIÓN GENERAL
PORT=3001

# JWT
JWT_SECRET=your_strong_jwt_secret_key